* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;


}

a{
     color: #333;
     text-decoration: none;

}