#navbar .logo{
    float: none;
    text-align: center;

}
#navbar ul,#navbar ul li{
    float: none;
}
#navbar ul li a{
    padding: 5px;
    border-bottom: #444 dotted 1px;
}
/*home info*/
#home-info .info-img{
    display: none;
}
#home-info .info-content{
    float: none;
    width: 100%;
    
}
/*boxes*/
.box {
    float: none;
    width: 100%;
    border-bottom: #444 dotted 1px;
}
/*about*/
#about-info .info-right, #about-info .info-left{
    float: none;
    width: 100%;


}
.l-heading{
    text-align: center;
}
#about-info .info-right img{
    width: 95%;
}
#showcase{
    height: 100%;

}
#showcase .showcase-content{
    padding-top:70px ;
    padding-bottom: 30px;
}
.btn{
    border-bottom: bisque double;
}

h1{
    padding-bottom: 50px;
}
.f{
    line-height: 1;
}